
<% @services.each do |service| %>

  <div class="card-product my-4">
    <%= image_tag(service.image.url, alt: 'Image') if service.image? %>
    <div class="card-product-infos">
      <h2><%= service.title %></h2>
      <h4><%= service.description %></h4>
    </div>
    <div class="actions-card">
      <% if current_user && current_user.admin %>

        <%= link_to edit_admin_service_path(service) do %>
          <i class="far fa-edit" title="<%= t('actions.update') %>"></i>
        <% end %>

        <%= button_to service_path(service), method: :delete, class: " text-danger btn btn-outline-light btn-sm" do %>
          <i class="far fa-trash-alt" title="<%= t('actions.delete') %>"></i>
        <% end %>

      <% end %>
    </div>
  </div>

<% end %>
