<div id="master-head">
  <div id="head-title" class="pb-3">

    <%= link_to root_path do %>
      <h1>Manon Mathieu</h1>
      <h5>Rédactrice freelance  - Community Manager - Webdesigner</h5>
    <% end %>
  </div>

  <div id="head-navbar" class="border-bottom border-top">
    <ul class="navbar-list">
      <%= link_to root_path, class: "navbar-link" do %>
        <li class="navbar-item"><%= t('pages.home') %></li>
      <% end %>
      <%= link_to services_path, class: "navbar-link" do %>
        <li class="navbar-item"><%= t('pages.services') %></li>
      <% end %>
      <!-- <li class="navbar-item">Projets réalisés</li> -->
      <%= link_to about_path, class: "navbar-link" do %>
        <li class="navbar-item"><%= t('pages.about') %></li>
      <% end %>
      <%= link_to contact_path, class: "navbar-link" do %>
        <li class="navbar-item"><%= t('pages.contact') %></li>
      <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript">
  const navLinks = document.querySelectorAll(".navbar-link");

  navLinks.forEach(function(link){
    if (link.pathname === window.location.pathname) {
      link.classList.add("text-body")
    }
  });
</script>
