<div class="home-banner">
  <div class="h-100">
    <div class="banner-container column">
      <h2 class="start-title">Vous avez besoin de créer du contenu de<br class="d-none d-lg-block">
      qualité pour <strong>booster</strong> votre projet ?</h2>
      <h5 class="start-text">
        Je rédige vos contenus web, newsletters, articles de blog ou encore vos posts pour les réseaux sociaux.<br class="d-none d-lg-block">
        Je conçois vos mises en page de brochures, flyers, dossiers de presse et autres documents de communication.<br>
        Vous souhaitez une formule clé en main ? N’hésitez plus !
      </h5>
      <%= link_to contact_path, class: 'start-btn btn btn-primary' do%>
        <%= t('actions.contact_me') %>
      <% end %>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="for-more">
    <i class="fas fa-caret-down"></i>
  </div>

  <div class="home-services">
    <h3 class="text-center text-uppercase pb-4"><%= t('pages.services') %></h3>

    <div class="home-service-cards d-flex">
      <div class="home-service-card">
        <%= link_to services_path, class: "text-dark" do %>
          <i class="fas fa-pen-nib home-service-icon"></i>
        <% end %>
        <h5 class="text-uppercase"><%= t('home.redaction') %></h5>
        <p class="text-justify">Pour une rédaction sur mesure, choisissez ce service. Qu’importe le niveau de complexité de vos textes et le sujet à aborder, je serais en mesure de vous offrir des contenus de  qualité, adapté à votre projet, votre personalité.</p>
      </div>
      <div class="home-service-card">
        <%= link_to services_path, class: "text-dark" do %>
          <i class="fas fa-pencil-ruler home-service-icon"></i>
        <% end %>
        <h5 class="text-uppercase"><%= t('home.creation') %></h5>
        <p class="text-justify">Développez votre communication en bénéficiant des meilleurs outils actuels, adaptés à votre identité. Flyers, brochures, catalogues mais aussi sites web et réseaux sociaux, vous ne passerez plus inéperçu !</p>
      </div>
      <div class="home-service-card">
        <%= link_to services_path, class: "text-dark" do %>
          <i class="far fa-lightbulb home-service-icon"></i>
        <% end %>
        <h5 class="text-uppercase"><%= t('home.communication') %></h5>
        <p class="text-justify">Avec les communiqués et dossiers de presse, réalisés sur mesure, je vous aide à valoriser votre identité, votre projet, votre création  auprès des médias, de la presse et des acteurs de votre secteur.</p>
      </div>
    </div>
  </div>
  <div class="text-center mb-4">
    <%= link_to contact_path, class: 'start-btn btn btn-primary' do%>
      <%= t('actions.get_devise') %>
    <% end %>
  </div>

</div>

