<%= form_for @user, url: admin_user_path(@user), html: { method: :put } do |f| %>

  <div class="form-group">
    <span class="text-danger">*</span>
    <%= f.label :firstname, "Prénom", class: "control-label" %>
    <%= f.text_field :firstname, class: "form-control" %>
  </div>

  <div class="form-group">
    <span class="text-danger">*</span>
    <%= f.label :lastname, "Nom", class: "control-label" %>
    <%= f.text_field :lastname, class: "form-control" %>
  </div>

  <div class="form-group">
    <span class="text-danger">*</span>
    <%= f.label :description, "Description", class: "control-label" %>
    <div class="mb-2"><small class="text-muted">Insérer un double slash "//" à la fin d'un pargraphe si vous souhaitez sauter une ligne.</small></div>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <span class="text-danger">*</span>
    <%= f.label :image, "Image", class: "control-label" %>
    <div class="custom-file custom-file-preview">
      <%= f.file_field :image, class: 'custom-file-input', accept: "image/png, image/jpeg", value: @user.image %>
      <label class="custom-file-label" for="file" data-browse="<%= t('actions.browse') %>"><%= t('actions.explore') %></label>
      <div class="image-preview">
        <%= image_tag @user.image.nil? ? 'default-image.png' : @user.image.url, class: 'img-fluid' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="text-center">
      <%= link_to t('actions.back'), :back, class: 'btn btn-secondary' %>
      <button type="submit" class="btn btn-primary"><%= t('actions.save') %></button>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  let input = document.querySelector(".custom-file-input");
  input.addEventListener("change", function() {
    const file = this.files[0];
    const source = URL.createObjectURL(file);
    const img = this.parentNode.querySelector('img');
    if (img !== null) {
        img.src = source;
    }
  })
</script>
